{% extends 'base.html.twig' %}


{% block body %}
    <div class="container">
        <h1>Create message</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <h5>Member: {{ member }}</h5>
        {{ form(form) }}
    </div>
{% endblock %}