{% extends 'adminBase.html.twig' %}

{% block body %}
    {{ parent() }}
    <div class="container">
        <h1>{{ name }}</h1>
        {{ component('EntityList', {
            headers: headers,
            entities: messages,
            actions: actions
        }) }}
    </div>
{% endblock %}