{% extends 'adminBase.html.twig' %}
{% block body %}
        {{ parent() }}
        <div class="container">
                <h1>Create moderator</h1>
                {{ form(form) }}
        </div>
{% endblock %}
