{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Courses</h1>
        {{ component('EntityList', {
            headers: headers,
            entities: courses,
            actions: actions
        }) }}
    </div>
{% endblock %}