{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ name }}</h1>
        <h3>Students</h3>
        {{ component('EntityList', {
            headers: headers,
            entities: students,
            actions: actions
        }) }}
        <h3>Professors</h3>
        {{ component('EntityList', {
            headers: headers,
            entities: professors,
            actions: actions
        }) }}
    </div>
{% endblock %}